body{
  background: #222222;
}

text{
  fill: #fff;
}

.domain{
  stroke: #bcbbbd; stroke-width: 2;
}

.tick line, .axis{
  stroke: #bcbbbd; stroke-width: 2;
}

.tick text{
  fill: #bcbbbd; font-size: 1.8em;
}

#cartesian_graph_path{
  fill: none; stroke: #ffff57; stroke-width: 3; /* #8da67b */
}

#polar_graph_path{
  fill: none; stroke: #ffff57; stroke-width: 3; /* orange */
}

#polar_graph_dot {
  fill: #2ccdff; stroke: none;
}

#frequency_graph_path /* magnitude */ {
  fill: none; stroke: #ff1400; stroke-width: 3; /* #8da67b */
  display: none;
}

#frequency_graph_path_x /* real part */ {
  fill: none; stroke: #00c4ff; stroke-width: 3; /* #8da67b */
}

#frequency_graph_path_y /* imaginary part */ {
  fill: none; stroke: #29ed29; stroke-width: 3; /* #8da67b */
  display: none;
}

#frequency_graph_dot_x {
  fill: #2ccdff; stroke: none;
}
